
.icon-gear-solid:before { content: '\e800'; } /* '' */
.icon-gift-solid:before { content: '\e801'; } /* '' */
.icon-house-solid:before { content: '\e802'; } /* '' */
.icon-location-dot-solid:before { content: '\e803'; } /* '' */
.icon-magnifying-glass-solid:before { content: '\e804'; } /* '' */
.icon-minus-solid:before { content: '\e805'; } /* '' */
.icon-pen-to-square-solid:before { content: '\e806'; } /* '' */
.icon-plus-solid:before { content: '\e807'; } /* '' */
.icon-print-solid:before { content: '\e808'; } /* '' */
.icon-screwdriver-wrench-solid:before { content: '\e809'; } /* '' */
.icon-shapes-solid:before { content: '\e80a'; } /* '' */
.icon-star-half-stroke-solid:before { content: '\e80b'; } /* '' */
.icon-star-regular:before { content: '\e80c'; } /* '' */
.icon-star-solid:before { content: '\e80d'; } /* '' */
.icon-trash-can-solid:before { content: '\e80e'; } /* '' */
.icon-user-gear-solid:before { content: '\e80f'; } /* '' */
.icon-arrow-right-arrow-left-solid:before { content: '\e810'; } /* '' */
.icon-bag-shopping-solid:before { content: '\e811'; } /* '' */
.icon-bars-solid:before { content: '\e812'; } /* '' */
.icon-bell-regular:before { content: '\e813'; } /* '' */
.icon-bell-solid:before { content: '\e814'; } /* '' */
.icon-box-solid:before { content: '\e815'; } /* '' */
.icon-building-solid:before { content: '\e816'; } /* '' */
.icon-calendar-days-solid:before { content: '\e817'; } /* '' */
.icon-caret-down-solid:before { content: '\e818'; } /* '' */
.icon-clipboard-check-solid:before { content: '\e819'; } /* '' */
.icon-clipboard-solid:before { content: '\e81a'; } /* '' */
.icon-clock-rotate-left-solid:before { content: '\e81b'; } /* '' */
.icon-file-lines-solid:before { content: '\e81c'; } /* '' */
.icon-dollar-sign-solid:before { content: '\e81d'; } /* '' */
.icon-ellipsis-vertical-solid:before { content: '\e83c'; } /* '' */
