@model POS.Models.DB.Fund

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Fund</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label>رقم الصدوق</label>
             <input asp-for="FundsId" class="form-control" readonly />
            <div class="form-group">
                <label>اسم الصدوق</label>
                <input asp-for="FundName" class="form-control"readonly />
                <span asp-validation-for="FundName" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label> حساب الصندوق</label>
                <select asp-for="SubAccountingManual" class="form-control"readonly asp-items="ViewBag.AccHeadeerlist"></select>
                <span asp-validation-for="SubAccountingManual" class="text-danger"></span>
            </div>
           <input type="hidden" asp-for="FundStatus" class="form-control" readonly />
            <div class="form-group">
                <a class="btn btn-primary btn-block"  asp-action="Edit" asp-route-id="@Model.FundsId">Edit</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

