
.icon-suitcase-rolling:before { content: '\e800'; } /* '' */
.icon-user-gear:before { content: '\e801'; } /* '' */
.icon-calculator:before { content: '\e802'; } /* '' */
.icon-calendar-check:before { content: '\e803'; } /* '' */
.icon-file-invoice-dollar:before { content: '\e804'; } /* '' */
.icon-file-lines:before { content: '\e805'; } /* '' */
.icon-house:before { content: '\e806'; } /* '' */
.icon-arrows-rotate:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e80f'; } /* '' */
.icon-ellipsis-vertical:before { content: '\e810'; } /* '' */
.icon-trash-can:before { content: '\e811'; } /* '' */
.icon-pen-to-square:before { content: '\e812'; } /* '' */
.icon-lock:before { content: '\e813'; } /* '' */
.icon-box:before { content: '\e814'; } /* '' */
